@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    background-color: #cbd9e7;
}
/* top player styles */
.top-players{
margin-bottom: 30px;
}
.container{
    background-color: white;
    width: 870px;
    padding: 33px;
    margin-top: 21px;
    border-radius: 5px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title{
    color: rgb(107, 23, 163);
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
 margin: 16px;
 font-size: 16px;
}
hr{
    border: 1px solid #d1d1d1;
    margin-bottom: 27px;
}
/* top blog styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.blog-info{
    margin-left: 16px;
}
.blog .thumbnil img{
    width: 177px;
    height: 117px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9f9f9f;
    font-size: 16px;
}.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color:#562EFF
}
/* courses styles */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;
}

.course .course-banner img{
    width: 224px;
    height: 104px;

}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color:gold;
}
.fa-star.empty{
    color:rgb(206, 205, 201);
}
.course-duration{
    background-color: rgb(226, 170, 170);
    border-radius: 10px;
}
.fa-clock{
    color: rgb(184, 43, 43);
}